<nav class="pagination is-small" role="navigation" aria-label="pagination">
    <a class="pagination-previous" (click)="previousPage()">
    Previous</a>
    <a class="pagination-next" (click)="nextPage()">Next page</a>
    <ul class="pagination-list" *ngFor="let item of pageList; index as i">
        <li><a class="pagination-link" aria-label="Goto page i"  (click)="submitRequestPage(pageList[i])" >{{pageList[i]}}</a></li>
      <!-- <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
      <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 86">86</a></li> -->
    </ul>
  </nav>